<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>rollDice</title>
</head>
<body>
    <h1>Roll Dice No is : <%= num %></h1>
    <% if(num == 6) {%>
        <h1>Roll Again</h1>
        <% } %>
</body>
</html>