.outer {
    width: 100px;
    height: 250px;
    border: 5px double black;
    text-align: center;
    place-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: black;
}
.red {
    width: 50px;
    height: 50px;
    background-color: red;
    border-radius: 50%;
}
.yellow {
    width: 50px;
    height: 50px;
    background-color: yellow;
    border-radius: 50%;
    
}
.green {
    width: 50px;
    height: 50px;
    background-color: green;
    border-radius: 50%;
    
}