<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee Data</title>
</head>
<body>
    <h2>Add New Employee Data</h2>
    <form method="post" action="/employee">
        <input type="text"
        placeholder="name"
        name="name"
        >
        <input type="email"
        placeholder="email"
        name="email"
        >
        <input type="text"
        placeholder="profession"
        name="profession"
        >
        <button>Submit</button>
    </form>
</body>
</html>